body
{
	 margin: 0 !important;
	 overflow: hidden !important;
}

canvas
{
	 width: 100vw;
	 height: 100vh;

	 image-rendering: -moz-crisp-edges !important;
	 image-rendering: -webkit-crisp-edges !important;
	 image-rendering: pixelated !important;
	 image-rendering: crisp-edges !important;
}
